*{
    margin: 0;
    padding: 0;
}

header{
    background: #0602e4;
    color: #fff;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

.active{
    color: #00ffb6;
}